/* @import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap'); */
/* =========== */
/* @import url('https://fonts.googleapis.com/css?family=Courgette&display=swap'); */
/* ============================= */
/* browser default styles reset */
/* @import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap'); */
/* ================ */

@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Bad+Script|Merienda&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap&subset=latin-ext');



*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
/* main colors */
--softBlue: hsl(231, 69%, 60%);
--softRed: hsl(0, 94%, 66%);
 /* Neutral */
--grayishBlue: hsl(229, 8%, 60%);
--veryDarkBlue: hsl(229, 31%, 21%);
--mainWhite:#f5f5f5;
--mainSpacing:0.1rem;
  /* primary colors */
  --primaryDarkBlue:hsl(233,26%,24%);
  --primaryLimeGreen:hsl(136,65%,51%);
  --primaryBrightCyan:hsl(192,70%,51%);
  /* neutral colors */
  --grayishBlue:hsl(233,8%,62%);
  --lightGrayishBlue:hsl(220,16%,96%);
  --veryLightGray:hsl(0,0%,98%);
  --white:hsl(0,0%,100%);
  /* addins*/
  --mainTransition:all 0.2s ease-in;
  --mainSpacing:0.1rem;
}
body{
  font-family:"Bad Script";
  /* font-family:"Fondamento"; */
  /* font-family: "Bree serif",serif; */
  /* font-family: 'Courgette', ; */
  font-weight: bold;
}
html{
  scroll-behavior: smooth;
  /* scroll-margin-top:100em; */
}
.nav-link{
  text-decoration:none;

}
#navbar li{
  list-style-type: none;
}



