
/* tablet design breakpoint */

@media only screen and (min-width:401px) and (max-width:960px){
  body{
    background:rgb(54, 137, 233);
    overflow-x: hidden;
  }
  html{
    scroll-margin-top: 10em;
  }
  .nav-bar{
  /* for some webkit browsers */
  /* position:-webkit-sticky; */
  /* position: sticky; */
  position: fixed;
  top:0px;
  width:100%;
  height:60px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  z-index:3;
  background:var(--white);
  transition: var(--mainTransition);
}

.nav-link{
list-style-type: none;
text-transform: capitalize;
}
.nav-link a{
  text-decoration:none;
  letter-spacing: var(--mainSpacing);
  color:var(--primaryDarkBlue);
  transition:var(--mainTransition);
}
.nav-link a:hover{
  color:var(--White);
  background:var(--primaryColor);
}

  /* responsive nav bar styles */
  .burger{
    width:40px;
    height:40px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    cursor:pointer;

  }
  .line1,.line2,.line3{
    background:var(--primaryDarkBlue);
    width:30px;
    height:3px;
    margin:3px;
    transition:var(--mainTransition);
  }
  .navigation{
    position: absolute;
    right:0px;
    left:0px;
    top:15vh;
    width:80%;
    margin:auto;
    /* height:100vh; */
    display:flex;
    flex-direction:column;
    align-items: center;
    transform:translateX(100%);
    background:transparent;
    transition:var(--mainTransition);
    justify-content: space-evenly;
    border-radius: 10px;
  }
  .navigation .nav-link{
    opacity: 0;
  }
  .nav-active{
    transform:translateX(0%);
    max-width:calc(100% - 40px);
    background:var(--white);
  }
  @keyframes navLinkFade{
    from{
      opacity:0;
      transform:translateX(50px);
    }
    to{
      opacity:1;
      transform:translateX(0px);
    }
  }
  .toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity:0;
  }
  .toggle .line3{
    transform:rotate(45deg) translate(-5px,-6px);
  }
  /* end of responsive nav bar styles */

  .main-head-link{
    color:#000;
    text-decoration:none;
  }
  .header{
    font-size: 19px;
    background:whitesmoke;
    padding:1%;
    margin:1%;
    box-shadow: 0px 3px 3px 0px rgba(3, 4, 7, 0.19),  0px 0px 3px 0px rgba(2, 2, 2, 0.19), 0px 0px 3px 0px rgba(3, 4, 7, 0.19);
  }
  #main-doc{
    padding:5%;
    border-spacing:5px;
    margin-top:30px;
    scroll-margin-top:10em;
  }
code{
  font-family:"Fira code";
  font-size:15px;
  background:rgb(95, 29, 29);
  color:whitesmoke;
}
  .headSpace{
    padding-top:50px;
    text-align: center;
    transition: all 0.5s ease-in;
  }
  .hidenav{
    display:none;
  }
  section{
    scroll-margin-top: 4em;
  }
}

/* end of tablet styles */
/* =========================================== */